@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/* font-family: 'Marck Script', cursive; */


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.header-section{
    background-image: url(./images/banner\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
   
   
}
.header-section .container{
    display: flex;
    justify-content: space-between;
}
.header-section img{
    margin-top: 120px;
    margin-left: 15px;
}
.nav-bar nav ul li a{
    color: #ffffff;
    font-size: 22px;
    padding: 10px;
 
}
.nav-bar nav ul li{
    display: inline-block;
    margin-top: 40px;
}
.header-section h1{
    font-family:'Marck Script', cursive;
    color: #ffffff;
    font-size: 140px;
    margin: 20px;
    padding-top: 50px;
}
.header-section .first{
    color: #ffffff;
    margin: 20px 30px;
    padding: 10px;
    font-size: 50px;
}
.header-section button{
    background-color: #ffffff;
    font-size: 20px;
    padding: 15px 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: 10px;
}
.header-section button a{
    color: black;
}
.header-section p{
    color: #ffffff;
    
    margin: 20px 30px;
    margin-right: 70%;
    padding-bottom: 400px;
    font-size: 20px;
}

.item-list h1{
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 60px;
}
.item-list .first{
    text-align: center;
    font-size: 25px;
    margin: 20px  20%;
    margin-bottom: 40px;
}
.item-list img{
    width: 200px;
}
.item-list .container{
    display: flex;
    justify-content: space-between;
    margin: 60px 280px;
    padding: 40px;
}
.item{
    padding: 30px;
}
.item-list button{
    background-color: black;
    font-size: 20px;
    padding: 15px 50px;
    margin: 0 42%;
    border-radius: 15px;
   
}
.item-list button a{
    color: #ffffff;
    text-transform: uppercase;
}

.more-info{
    background-image: url(./images/more\ info\ bg.png);
    color: #ffffff;
    /* text-align: center; */
    font-size: 15px;
    
}
.more-info h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Marck Script', cursive;
}
.more-info .container{
    display: flex;
    justify-content: space-around;
}
.more-info .para1{
    margin: 30px 120px ;
    text-align: justify;
    font-size: 15px;
 
}
.more-info .para2{
    margin: 30px 120px ;
   text-align: justify;
   font-size: 15px;
}
.more-info button{
    background-color: #ffffff;
    font-size: 20px;
    padding: 15px 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 43%;
    border-radius: 15px;
}
.more-info button a{
    color: black;
    text-transform: uppercase;
}